<a class="tile column col-12 rounded" href="{{link this}}">
  <div class="tile-icon">
    <figure class="figure">
      <img class="thumb" src="{{thumb this}}" alt="collection cover">
    </figure>
  </div>
  <div class="tile-content">
    <div class="column col-12 ml-2 mt-2">
      <div class="float-right">
        {{#with (toast this)}}
        <small class="toast {{this.class}}">
            {{this.text}}
        </small>
        {{/with}}
      </div>
      <h2>{{name this}}</h2>
      <p class="text-gray">{{authors this.authors}}</p>
      <p>{{this.description}}</p>
    </div>
  </div>
</a>
